# Global owners
* felix.uhl@emea.nec.com christian.weiss@emea.nec.com

# Sources
src* felix.uhl@emea.nec.com christian.weiss@emea.nec.com
# MPI functions
src/mpi* felix.uhl@emea.nec.com
# OMP functions
src/omp* felix.uhl@emea.nec.com
# CUPTI
src/cupti* christian.weiss@emea.nec.com

# Tests
test/units* felix.uhl@emea.nec.com christian.weiss@emea.nec.com
test/env_vars* felix.uhl@emea.nec.com christian.weiss@emea.nec.com
test/user_functions* felix.uhl@emea.nec.com
test/omp* felix.uhl@emea.nec.com
test/mpi* felix.uhl@emea.nec.com
test/cupti* christian.weiss@emea.nec.com

# Tools
tools* felix.uhl@emea.nec.com christian.weiss@emea.nec.com
tools/self_profiling_analyzer* felix.uhl@emea.nec.com
