# Global owners
* felix.uhl@emea.nec.com christian.weiss@emea.nec.com
# Common infrastructure
vftr_functions.c vftr_filewrite.c vftr_hooks.c vftr_setup.c felix.uhl@emea.nec.com christian.weiss@emea.nec.com
# MPI functions
mpi* felix.uhl@emea.nec.com
# Message profiling
vftr_async_messages.c vftr_sync_messages.c felix.uhl@emea.nec.com
# Required for stack normalization
vftr_hashing.c vftr_sorting.c vftr_stacks.c vftr_user_stack.c felix.uhl@emea.nec.com
# Timers
vftr_timer.c felix.uhl@emea.nec.com
# Required for library functions
vftr_pause.c vftr_regions.c felix.uhl@emea.nec.com
# Hardware counters
vftr_hwcounters.c vftr_scenarios.c christian.weiss@emea.nec.com
# Reading ELF files
vftr_symbols.c christian.weiss@emea.nec.com
# Environment variables
vftr_environment.c vftr_regex.c chrisitan.weiss@emea.nec.com
# Signal interrupts
vftr_signals.c
